{% extends "/base.html" %}
{% block title %}About{% endblock %}

{% block content %}

<div class="container" >
  
  <p class="text-center pt-3 " style="font-size: 2rem;font-family:adobe-garamond-pro">ABOUT</p>
   <div class="row pt-5 ">
        <div class="col-lg-6 col-md-6 col-xd-12">   
          <p style="text-indent:20px;"> We’ve all experienced the home cooked meal struggle before. We get so caught up with work and life that it’s tough to find time to make a good home cooked meal for ourselves and our family, so we end up resorting to takeout food. This leads to an endless cycle of unhealthy eating habits AND unhealthy spending habits. 
              For that we are selling home cooked meals who can make it easier for people to order homemade food online only in Agadir city .
              We are committed to ensuring that your food will always be safe to eat. All chefs are required to wear masks, gloves and hair nets when preparing your food.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-xd-12">
          <img src="/static/images/Home/about.jpg" style="width: 40 rem; height: 20rem; margin-left: 4rem; margin-bottom: 4rem;">   
        </div>
    </div>
</div>

<div class="container" style=" padding-bottom: 4%;" >
  <div class="row pt-3 " >
     <div class="col-lg-4 col-md-8 col-xd-12" >
        <p style="margin-left: 6rem;"><img src="/static/images/Home/11.png" style="width: 9 rem; height: 9rem;  margin-bottom: 2rem;"> <br></p>
        <h2 style="font-size: 1.2rem;text-align: center;"> <B>BALANCED</B><br>
         Seasonal vegetables, proteins and lipids (the good ones).</h2> 
           
     </div>
     <div class="col-lg-4 col-md-8 col-xd-12">
       <p style="margin-left: 6rem;"><img src="/static/images/Home/12.png" style="width: 9 rem; height: 9rem;  margin-bottom: 2rem;"> <br></p>
        <h2 style="font-size: 1.2rem;text-align: center;"> <b> 100% NATURAL</b><br>
         No additives, no preservatives, no refined sugars, no hydrogenated oil</h2> 
           
     </div>
     <div class="col-lg-4 col-md-8 col-xd-12">
       <p style="margin-left: 6rem;"><img src="/static/images/Home/14.png" style="width: 9 rem; height: 9rem;  margin-bottom: 2rem;"> <br></p>
       <h2 style="font-size: 1.2rem;text-align: center;"> <b>HOME MADE</b> <BR>
         
          We cook between 10 and 15 portions / day maximum</h2> 
          
     </div>
     
   </div>
  </div>

{% endblock content %}