{% extends "/base.html" %}
{% block title %}Home Cooking{% endblock %}

{% block content %}

    <div id="carouselExampleInterval" class="carousel slide " data-ride="carousel">
      <div class="carousel-inner ">
        
            <div class="carousel-item active" data-interval="2000">
              <img src="/static/images/Home/4.jpeg" class=" w-100 carousel " >
              <div class="carousel-caption d-none d-md-block">
              <h2 style="font-weight: bold; ">HUNGRY? ORDER SOME HOME MADE FOOD !</h2>
            </div>
            </div>
            <div class="carousel-item" data-interval="2000">
              <img src="/static/images/Home/3.jpeg" class=" w-100 carousel " >
              <div class="carousel-caption d-none d-md-block">
                <h2 style="font-weight: bold; ">MOROCCAN & INTERNATIONAL MEALS</h2>
              </div>
            </div>
            <div class="carousel-item" data-interval="2000">
              <img src="/static/images/Home/2.jpg" class=" w-100 carousel " >
             <div class="carousel-caption d-none d-md-block">
              <h2 style="color:rgb(56, 54, 54) ;font-weight: bold; ">MEALS DELIVERED TO YOUR DOOR ONLY IN AGADIR</h2>
            </div>
          </div>
      </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        
</div>


<div class="container">
  <p class="text-center pt-5 " style="font-size: 2rem;font-family:adobe-garamond-pro">Our secret ingredients</p>
  <div class="row pt-5 ">
  <div class="col-lg-6 col-md-6 col-xd-12">
    
    <p><b>ARGAN OIL </b> <br></p>
      <p style="text-indent:20px;"> Argan oil is extracted from the kernels of the argan tree fruits.
       This tree, also known as argania spinosa is endemic to the Sous valley of southwestern Morocco.
      Extracting the oil from the argan fruit is an extensive and laborious task that has been traditionally handled by Berber women; it takes 30kg of fruit and 15 hours of labour to make one litre of argan oil.
      Argan oil is generally used for dipping bread and drizzling on couscous or salads. However, the most common use of argan oil in Morocco remains Amlou.<br>
    </p>
  </div>
  <div class="col-lg-6 col-md-6 col-xd-12">
    <img src="/static/images/Home/9.jpeg" style="width: 33 rem; height: 20rem; margin-left: 4rem; margin-bottom: 4rem;">
  </div>
</div>

<div class="row pt-5 ">
  <div class="col-lg-6 col-md-6 col-xd-12">
    <img src="/static/images/Home/8.jpg" style="width: 30rem; height: 23rem; margin-right: 10.5rem; margin-bottom: 4rem;">
  </div>
  <div class="col-lg-6 col-md-6 col-xd-12">
    
    <p> <b>MOROCCAN SPICE BLEND </b><br></p> 
      <p style="text-indent:20px;"> Spice blend is a versatile and beautifully fragrant Moroccan spice blend commonly used in Moroccan cuisine.
      The origins of this spice mixture are very old but you can understand its purpose by simply translating ras el hanout. “Ras el Hanout” means “top of the shop” in Arabic, this suggests that the spices used for the blend are the finest spices available in the merchant's shop. 
      </p>
    </div>
  
</div>
<div class="row pt-5 ">
  
  <div class="col-lg-6 col-md-6 col-xd-12">
        <p ><b>SAFFRON</b><br></p>
          <p style="text-indent:20px;">The origins of saffron are extremely old; decades of millenniums and the theories as to where it started to flourish are very conflictual. However, we know that the first official cultivations of saffron started in Greece more than 3000 years ago.

          Today, saffron is mainly cultivated in Greece, Iran, India and Morocco. Morocco being the fourth-largest producer of what they often call the yellow gold.</p>
 </div>
 <div class="col-lg-6 col-md-6 col-xd-12">
  <img src="/static/images/Home/7.jpeg "style="width: 33rem; height: 20rem; margin-left: 2rem; margin-bottom: 4rem;">
</div>
  
</div>
</div>




{% endblock content %}
